* {
  --lexend-fonts-400: "LexendZetta-Regular";
  --open-sans: "Open Sans";
  --section-title-fz: 56px;
  --white-color: #fff;
  --color-333: #333333;
  --black-color: #000;
}

body {
  max-width: 1440px;
  min-width: 320px;
  height: 100vh;
  background-color: #0c1a29;
  margin: 0 auto;
}
