.adventures__great-button {
  max-width: 154px;
  font-family: "Lexend Zetta";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f07c52;
  padding: 14px 0;
  border: 0;
  cursor: pointer;
}

.adventures__great-button:hover {
  opacity: 0.7;
  color: blue;
  transition: all 1s ease;
}
