.header__panel-button-book {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -3px;
  text-transform: uppercase;
  font-family: var(--lexend-fonts-400);
  border: 1px solid var(--white-color);
  color: var(--white-color);
  background-color: transparent;
  /* padding: 14px 21px; */
  width: 154px;
  height: 48px;
}
