.adventures__about-title {
  font-family: "Lexend Zetta";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 114%;
  letter-spacing: 16px;
  color: #333333;
  margin: 0;
  padding: 0;
}
