.offers__oval {
  width: 144px;
  height: 144px;
  border-radius: 50%;
  background-color: #f07c52;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 224px;
  left: 32px;
}
